<form #mainForm="ngForm" (ngSubmit)="onSubmitForm(mainForm)">
  <div>
    <label for="name">
      Name
    </label>
    <div>
      <input [(ngModel)]="name" id="name" name="someName" #nameControl="ngModel" required appUnique appAsyncGetName>
      <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="alert alert-danger">
        <div *ngIf="nameControl.errors.required">
          Name is required.
        </div>
        <div *ngIf="nameControl.errors.minlength">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="nameControl.errors.appUnique">
          Name must not contain unique characters.
        </div>
        <div *ngIf="nameControl.errors.appAsyncGetName">
          Name must not be Hiep!
        </div>
      </div>
    </div>
  </div>
  <div>
    <button type="submit">submit</button>
  </div>
</form>